//gallery container
.container {
  //gallery boxs

  width: 100%;
  .box:hover {
    box-shadow: 15px 15px 13px rgba($color: #555, $alpha: 0.3);
    transition: 0.4s;
    transform: translate(-1%, -1%);
  }
  .box {
    position: relative;
    height: 200px;
    box-shadow: 3px 3px 10px rgba($color: #555, $alpha: 0.5);
    border-radius: 10px;
    margin-bottom: 7%;
    transition: 1s;

    a:hover .box__title {
      height: 30%;
      transition: 1s;

      p {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .box__title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      background-color: #ff4848;
      border-radius: 0 0 10px 10px;
      vertical-align: middle;
      transition: 0.5s;
      transition-timing-function: ease-out;

      p {
        opacity: 0;
        text-align: center;
        color: #ffffff;
        font-size: 0.8em;
        margin: 0;
        transition-delay: 0.2s;
        transition: 0.2s;
        transition-timing-function: ease-out;
      }

      h6 {
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        margin: 5% 0 0 0;
        font-size: 0.9em;
      }
    }
  }

  $breakpoint-tablet: 1025px;
  @media (min-width: $breakpoint-tablet) {
  }
}
