.adPoster {
  width: 100%;
  background-image: url("../../assets/adPoster/shoePoster55a.png");
  height: 450px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .adPoster {
    /* background-image: url("../../assets/adPoster/ShoePostermobile.jpeg"); */
  }
}

@media only screen and (max-width: 768px) {
  .adPoster {
    /* background-image: url("../../assets/adPoster/ShoePostermobile.jpeg"); */
  }
}
